body {
    margin: 0;
    background-color: #0E0E58;
}
.text {
    color: #FFFFFF;
    font-family: 'Roboto Slab', Serif;
}
/*First Section*/
.section1 {
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.section1-left {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header1 {
    font-weight: 750;
    font-size: 64px;
    padding-left: 32px;
    line-height: 1.1;
    margin-bottom: 1rem;
}
.header-subtext1 {
    font-size: 24px;
    font-weight: 375;
    padding-left: 35px;
}
div.section1-left-top > img {
    max-width: 240px;
    margin-bottom: -22px;
}
div.section1-left-bottom > a > img {
    max-width: 240px;
    padding-left: 40px;

}
div.section1-right > img {
    max-width: 350px;
    padding-top: 50px;
}
/*Second Section*/
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.header2 {
    font-weight: 650;
    font-size: 60px;
    max-width: 600px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom:50px;
}
.header-subtext2 {
    font-size: 24px;
    font-weight: 250;
    max-width: 800px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom:50px;
}
.column-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.column {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px white;
}